.show-list{
    display: flex;
    flex-direction: row;
    align-items :flex-start;
    position: absolute;
    top: 3%;
    right: calc(5px);
    margin: 0.5rem 0;
    z-index: 3;
    opacity: 0.25;
    transition: .3s;
}

.show-list:hover{
    display: flex;
    flex-direction: row;
    align-items :flex-start;
    position: absolute;
    top: 3%;
    right: calc(5px);
    margin: 0.5rem 0;
    z-index: 3;
    opacity: 1;
    transition: .3s;
}

.show-listOnScan{
    display: flex;
    flex-direction: row;
    align-items :flex-start;
    position: absolute;
    top: 5%;
    right: calc(5px);
    margin: 0.5rem 0;
    z-index: 3;
    opacity: 1;
    transition: .4s;
}

 .hide-list{
    display: flex;
    flex-direction: row;
    align-items :flex-end;
    position: absolute;
    top: -100%;
    right: calc(5px);
    margin: 0.5rem 0;
    z-index: 3;
    transition: .2s;
 }