.foot-container {
  position: absolute; 
  right: 10px;
  bottom: 10px;
  margin-bottom: 0.3rem;
}

.company-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 10, 90);
  opacity: 44%;
  margin-top: auto;
  margin-right: 0.5rem;
  margin-left: auto;
}

.company-foot:hover{
  transition: 0.7s ease-out;
  opacity: 100%;
}

.company-foot:not(:hover) {
  transition: .4s ease-in;
  opacity: 44%;
}

.btnPagePws {
    width: 6rem;
    height: 1.5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color:lightgray;
    color: black;
    border: none;
    margin: 0 2px;
    transition: background-color 0.1s ease;
  }
  
  .btnPagePws:hover {
    background-color: lightsteelblue;
  }
  
  .btnPagePws:active {
    background-color: lightslategray;
    transform: translateY(2px);
  }
  
  .btnPagePwsSE {
    width: 2.5rem;
    height: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
    background-color: lightgray;
    color: black;
    border: none;
    margin: 0 5px;
    transition: background-color 0.1s ease;
  }
  
  .btnPagePwsSE:hover {
    background-color: lightsteelblue;
  }
  
  .btnPagePwsSE:active {
    background-color: lightslategray;
    transform: translateY(2px);
  }
  
  .selectPageItem {
    width : 7rem; /* 원하는 너비설정 */
    padding: 0.2rem 0.5rem; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    font-size: 0.7rem;
    background: url(../dropdown.jfif) no-repeat 95% 50%; /* 네이티브 화살표 대체 */  
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:2px;
    outline: none;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    margin:0px 15px;
  }