.header {
    background-image: linear-gradient(to right, rgb(240, 242, 245), rgb(255, 255, 255));
}

.title {
    font-size: 1.2rem;
    font-weight: 900;
    font-style: oblique;
    text-shadow: 2px 2px 5px rgb(112, 110, 110);
    color: #272727;
    margin-right: 1rem;
}