.header {
    background-image: linear-gradient(to right, rgb(240, 242, 245), rgb(255, 255, 255));
}

.title {
    font-family: 'Yu Gothic UI Semibold';
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(13, 116, 0);
    color: #A9D08E;
    margin-right: 1rem;
}